.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: calc(100vh - 108px);
  justify-content: center;
}
.date {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.price {
  display: flex;
}
.ingredients {
  height: 200px;
  overflow-y: scroll;
  margin-right: 24px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border: 3px solid #8585ad;
  box-sizing: border-box;
  background-color: #8585ad;
}
::-webkit-scrollbar-track {
  background-color: #2f2f37;
  border: 1px solid #4c4cff;
}
.image {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  background: #131316;
  border-radius: 100px;
  border: 2px solid #4c4cff;
}
.ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-right: 24px;
}
.rightPart {
  display: flex;
}
.leftPart {
  display: flex;
  align-items: center;
}
