.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 128px);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.link_container {
  display: flex;
}
.link {
  text-decoration: none;
  color: #4c4cff;
}
